# DB UX Design System assets.
#
# Required once at install time: the postinstall script of @db-ux/db-theme uses
# these values to decrypt the licensed DB brand assets (DB Neo Screen Sans and
# the DB colour set). Without them the components fall back to the white label
# theme. Nothing reads these at runtime.
ASSET_INIT_VECTOR=
ASSET_PASSWORD=
